{% extends 'layouts/MainLayout.html' %}

{% block title %}
    QuickPass - Crear registro de matrícula
{% endblock %}

{% block content %}
    <section class="mx-auto max-w-7xl w-full">
        <div class="mx-auto w-full px-4">
            <h2 class="font-semibold text-2xl md:text-3xl pb-4 md:pb-8">Crear registro de matrícula</h2>
            <form action="{% url 'toll_record:license_plate-create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="space-y-4">
                    {% include "components/form/Field.html" with field=form.plate_number  %}
                    <div>
                        <button type="submit" class="mt-4 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-primary hover:bg-primary-light focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Crear registro
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}